name: static tests

jobs:
  lint:
    name: Code Quality Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'
          cache: 'maven'
      - name: Run Maven Checkstyle
        run: mvn -B verify -DskipTests=false
      
      - name: Quality report
        uses: actions/upload-artifact@v4
        with:
          name: checkstyle-report
          path: |
            target/checkstyle-result.xml
            target/site/checkstyle.html
            target/pmd.xml
            target/findbugs.xml
          if-no-files-found: ignore

  security-check:
    name: OWASP Dependency Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'
          cache: 'maven'

      - name: Run OWASP Dependency Check
        run: mvn org.owasp:dependency-check-maven:check -Dformat=XML
      
      - name: Upload Dependency Check Report
        uses: actions/upload-artifact@v4
        with:
          name: security-reports
          path: |
            target/dependency-check-report.xml
            target/dependency-check-report.html
          if-no-files-found: ignore

      
