name: lint

on:
  push:
  pull_request:

jobs:
  lint:
    name: Code Quality Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'
          cache: 'maven'
      - name: Run Static Analysis
        run: >
          mvn compile 
          checkstyle:check 
          pmd:check 
          com.github.spotbugs:spotbugs-maven-plugin:check
          -Dmaven.test.skip=true 
          -B

      - name: Quality report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: checkstyle-report
          path: |
            target/checkstyle-result.xml
            target/site/checkstyle.html
            target/pmd.xml
            target/spotbugsXml.xml # SpotBugs обычно кладет отчет сюда
          if-no-files-found: ignore
